.back-slider {
    width: 100%;
    position: relative;
}

.slider-container {
    position: relative;
}

.building-slider {
    position: relative;
    top: -110px;
    width: 75%;
    right: -16.5%;
}

.text-slider {
    margin-top: 155px;
    width: 100%;
}

#animation-text {
    position: absolute;
    /* -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s; */
    animation: run 1s linear forwards;
}

@keyframes run {
    0% {
        left: 90%;
    }

    100% {
        left: 0;
    }
}

#left-side-pic {
    animation: go 1s linear forwards;
    position: absolute;
    z-index: 2;
}

@keyframes go {
    0% {
        right: 90%;
    }

    100% {
        right: 0;
    }
}

#left-side-building {
    animation: up 0.5s linear forwards;
    z-index: 1;
    position: absolute;
}

@keyframes up {
    from {
        top: 800px;
    }

    to {
        top: 0px;
    }
}

#left-side-line {
    animation: lin 1.5s linear forwards;
    z-index: 4;
    position: absolute;
}

@keyframes lin {
    from {
        top: 800px;
    }

    to {
        top: 0px;
    }
}

.circle {
    top: 27px;
    position: absolute;
    left: 56px;
    z-index: -1;
}

.logo-slider {
    margin-left: 40px;
    margin-top: 20px;
}

.line-building {
    width: 69%;
    top: 47px;
    /* position: absolute; */
    position: relative;
    left: 51px;
}

.click-me {
    background: rgb(26, 117, 188);
    background: linear-gradient(329deg, rgba(26, 117, 188, 1) 6%, rgba(0, 173, 239, 1) 44%, rgba(120, 182, 229, 1) 91%);
    border: none;
    width: 139px;
    height: 48px;
    border-radius: 38px;
    position: relative;
    top: 500px;
    right: -313px;
}

.click-me a {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 992px) {

    #left-side-line,
    .circle,
    .logo-slider {
        display: none;
    }
}

@media (min-width:200px) and (max-width:979px) {
    .postcard .postcard__img {
        display: none !important;
    }

    .slider-container {
        position: relative;
        top: 303px !important;
    }

    .click-me {
        display: none;
    }

    .text-slider {
        width: 65%;
        margin: auto;
        display: block;
        position: relative;
        top: 100px;
    }
}

@media (min-width:0px) and (max-width:576px) {
    #left-side-building {
        margin-top: -45px !important;
    }

    .building-slider {
        top: -130px !important;
    }

    .grid-container {
        display: none;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    .line-building {
        width: 51%;
        top: 20px;
        /* position: absolute; */
        position: relative;
        left: 18px;
    }

    .building-slider {
        position: relative;
        top: -75px !important;
    }
}